@font-face {
  font-family: "Disco";
  src: url('fonts/disco/disco.ttf');
}

@font-face {
  font-family: 'Eraser';
  src: url('fonts/eraser/EraserRegular.ttf');
}

@font-face {
  font-family: 'Nib';
  src: url('fonts/nib handwritten/Nibhandwritten.ttf');
}

body {
  font-size: 16px;
  font-family: "Disco", serif !important;
  letter-spacing: 0.2em;
  text-decoration: none;
  overflow-x: hidden;
}


/*********navbar****************/

#collapse {
  background-color: white;
}

.navbar-default {
  opacity: 0.5;
  border-color: white !important;
}

.nav>li>a:hover, .nav>li>a:focus {
  border-left: 2px solid red;
  text-decoration: none;
  background-color: white !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: white !important;
  border-left: 2px solid red;
}


/******first page**********************/

h1 {
  background-color: transparent;
  font-family: 'Eraser', serif !important;
}

#home {
  width: 100vw;
  height: 100%;
  background: url('navbar.png'), url('pattern.gif');
  background-position: bottom, ' ';
  background-color: blue;
  background-repeat: no-repeat, repeat;
  -webkit-background-size: 1700px 70px, 200px 200px;
  -ms-background-size: 1000px 50px, 200px 200px;
  -o-background-size: 1000px 50px, 200px 200px;
  animation-name: change;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: filter 1s ease;
}

@keyframes change {
  0% {
    filter: hue-rotate(136deg);
  }
  50% {
    filter: hue-rotate(200deg);
  }
  75% {
    filter: hue-rotate(280deg);
  }
  100% {
    filter: hue-rotate(136deg);
  }
}

.brush {
  margin-top: 33vh;
  opacity: 0.95;
  background-image: url('brush.png');
  background-size: 80em 70em;
  background-repeat: no-repeat;
  background-position: center;
}

.margin-base-vertical {
  margin: 40px 0;
  text-decoration: none;
}

.download:hover, .download:focus {
  text-decoration: none !important;
  letter-spacing: 0.5em;
  transition: all .5s ease;
}

.vertical-margin-text {
  margin: 20px 0;
}


/*********all sections**************************/

#home {
  height: 100vh;
}

#resume {
  background-color: ivory;
  padding: 2em;
  padding-top: 0;
}

#works {
  background-color: ivory;
}

#contact {
  background-color: ivory;
}

.contentDiv {
  height: 100%;
  width: 100vw;
}


/*********fonts******************/

h3 {
  font-family: "Nib", serif !important;
  font-size: 5em !important;
  margin-top: 0 !important;
  padding-top: 50px;
  margin-bottom: 50px !important;
}

h4 {
  margin-top: 0 !important;
  padding-top: 50px;
  margin-bottom: 50px !important;
}

h5 {
  font-size: 20px !important;
}

h6 {
  font-size: 18px !important;
}

h5, h6 {
  margin-bottom: 25px !important;
  margin-top: 25px !important;
}

.img-responsive {
  margin-bottom: 5%;
}

.company {
  font-style: normal !important;
  margin-right: 30px;
  float: right;
}


/***********the buttons***************/

[data-list="cv"] {
  padding-top: 2em;
}

a[data-filter] {
  padding-right: 7em;
}


/*************icons for the experiences works*********************/

.icon {
  position: absolute;
  left: 10%;
}

.icon-ipad {
  background-image: url("icons-pro/2h60.png");
  background-size: cover;
}

.icon-tshirt {
  background-image: url("icons-pro/benetton.png");
  background-size: cover;
}

.icon-education {
  background-image: url("icons-pro/ciep.png");
  background-size: cover;
}

.icon-shelf {
  background-image: url("icons-pro/amu.png");
  background-size: cover;
}

.icon-lift {
  background-image: url("icons-pro/schindler.svg");
  background-size: cover;
}

.icon-eye {
  background-image: url("icons-pro/zinc.png");
  background-size: cover;
}

.icon-child {
  background-image: url("icons-pro/echanges_pho.png");
  background-size: cover;
}

.icon-ball {
  background-image: url("icons-pro/uefa.png");
  background-size: cover;
}

.icon-hand {
  background-image: url("icons-pro/artisansdumonde.png");
  background-size: cover;
}

.icon-south {
  background-image: url("icons-pro/lanci.png");
  background-size: cover;
}

.small {
  width: 7.5em;
  height: 7.5em;
}

.large {
  width: 3em;
  height: 3em;
}


/*******size of my image*******/

.img-circle {
  width: 300px;
  height: 300px;
}


/*********projects effect***************/

.middle {
  transition-duration: .5s;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 0.5em 1em 0 1em;
  text-align: center;
}

.middle-text {
  font-family: "Nib";
  letter-spacing: 0.2em;
  font-size: 3em;
  color: #fff;
}

hr {
  color: #fff;
}

.middle>.btn {
  border-radius: 50%;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


/*****modal window*********/

.modal-title {
  text-align: center;
}


/******all hover************/

.col-lg-4:hover {
  transition: all .5s ease;
}

.col-lg-4:hover img {
  -webkit-filter: hue-rotate(300deg);
  filter: hue-rotate(300deg);
  opacity: 0.95;
}

.col-lg-4:hover .middle {
  opacity: 1;
}


/*******social icon****************/

.social-icon:hover {
  -webkit-filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.9));
}


/**************the footer end*****************/

.size-footer {
  width: 100%;
  height: 100px;
}

.arrow {
  font-size: 3em;
}
